body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f4f4;
    color: #333;
}

header {
    background: #0078D4;
    color: white;
    text-align: center;
    padding: 40px 20px;
}

header h1 {
    margin-bottom: 10px;
}

header p {
    font-size: 18px;
    margin-bottom: 20px;
}

/* Resume Button */

.button {
    display: inline-block;
    background: #ffffff;
    color: #0078D4;
    padding: 12px 25px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    transition: 0.3s;
    border: 2px solid #ffffff;
}

.button:hover {
    background: #005fa3;
    color: white;
    border: 2px solid #005fa3;
}

nav {
    background: #222;
    text-align: center;
    padding: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 15px;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    color: #00bfff;
}

section {
    background: white;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    color: #0078D4;
}

ul {
    padding-left: 20px;
}

li {
    margin-bottom: 8px;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}
